.asap-condensed-extralight {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    }

    .asap-condensed-light {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    }

    .asap-condensed-regular {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

    .asap-condensed-medium {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    }

    .asap-condensed-semibold {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    }

    .asap-condensed-bold {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    }

    .asap-condensed-extrabold {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    }

    .asap-condensed-black {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    }

    .asap-condensed-extralight-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
    }

    .asap-condensed-light-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
    }

    .asap-condensed-regular-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
    }

    .asap-condensed-medium-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
    }

    .asap-condensed-semibold-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
    }

    .asap-condensed-bold-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
    }

    .asap-condensed-extrabold-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
    }

    .asap-condensed-black-italic {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
    }