html
{
    width: 800px;  /* max: 800px */
    height: 600px; /* max: 600px */
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display: none;
}

summary {
    background-color: #aa2310;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

details[open] summary {border-radius: 5px 5px 0 0;}

details {
    background: #e4bf3e;
    border-radius: 5px;
}

details:hover{
    background: azure;
    cursor: pointer;
}

summary:hover{
    background: azure;
    color: black;
    cursor: pointer;
}

#idFolderSelector{
    overflow-y: auto;
    overflow-x: hidden;
}

#idSettingContainer{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}

#idSettingHeader{
    width:100% ;
}

#idBMMeta{
    width: 100%;
}

#idFolderSelector{
    width: 100%;

    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,400px);
}
